#Exclude Visual Studio cache
/.vs/
*.user
*.pfx
_pkginfo.txt
/bld/
/bin/
/BundleArtifacts/
/archives/*.zim
/AppPackages/*wikivoyage*
/AppPackages/*wikimed*
/node_modules/
package-lock.json
.vscode/launch.json
