/*!
 * app.css : Main CSS of the application
 * 
 * Copyright 2013-2014 Mossroy and contributors
 * License GPL v3:
 * 
 * This file is part of Kiwix.
 * 
 * Kiwix is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Kiwix is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Kiwix (file LICENSE-GPLv3.txt).  If not, see <http://www.gnu.org/licenses/>
 */

[role=region] {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
}

[role=region] > header {
    /*margin: .5rem 0 1rem 0;*/
    margin: 0 0.75em 0 1px;
    text-align: center;
}

[role=region] > header > h1 {
    margin: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

[role=region] > .view-content {
    margin: 0;
    position: relative; /*Fixes #250 Random button display bug in W10M */
}

[role=region] > footer {
    background: rgba(51,122,183,0.1);
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
}

[role=region] > footer > menu[role=toolbar] {
    margin: 0;
    padding: 0;
}

#navigationButtons .restrictedSize {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: whitesmoke !important;
}

.nopadding {
    padding-right: 1px !important;
    padding-left: 1px !important;
}

#searchingForArticles .floating {
    position: relative;
    z-index: 10;
    top: 20px;
    height: 0;
}

.form-control {
    margin-top: 0.3px;
    /*box-shadow: none !important;*/
}

.dark .form-control {
    color: lightgray;
    background: #222;
}

.articleIFrame {
    width: 100%;
    border: 0;
}

.category-padding {
    margin: 0 1rem 0 1rem;
}

.apiAvailable {
    color: green;
}

.apiUnavailable {
    color: orange;
}

.settings {
    float: left;
    margin: 5px;
    padding: 10px;
    max-width: 500px;
    min-height: 150px;
    border: 1px solid black;
}

.navbar-header {
    float: none !important;
}

.navbar-fixed-bottom {
    background: inherit;
}

.btn-sm, .btn-lg {
    background: rgba(51,122,183,0.7) !important;
    border: transparent !important;
    float: none !important;
    color: whitesmoke !important;
    font-weight: bold !important;
}

.btn {
    margin-bottom: 1px !important;
    z-index:initial !important;
}

.darkfooter .btn-sm {
    background: rgba(47,79,79,0.7) !important;
}

.darkfooter {
    background: rgba(47,79,79,0.3) !important;
}

.glyphicon {
    color: #337ab7;
}

footer .glyphicon {
    color: lightblue;
}

.dropdown-menu, .dropdown-menu a {
    background-color: rgba(255,255,255,0.7) !important;
}


.darkfooter .glyphicon, .dark .glyphicon {
    color: lightblue;
}

.dark, .dark .panel {
    color: lightgray !important;
    background: #222 !important;
    border-color: darkgray;
}

.dark .panel-heading {
    color: lightgray !important;
    background: darkslategray !important;
    border-color: darkgray;
}

    .dark .panel-warning .panel-heading {
        background: #333300 !important;
    }


    .dark .panel-danger .panel-heading {
        background: #330000 !important;
    }

.dark a {
    color: lightblue !important;
}

.darkfooter .dropdown-menu, .darkfooter .dropdown-menu a {
    color: lightblue !important;
    background-color: rgba(34,34,34,0.6) !important;
    border-color: darkgray;
}

.darkfooter .dropdown-menu a:focus, .darkfooter .dropdown-menu a:hover {
    color: lightblue !important;
    background: darkslategray !important;
}

.dark .list-group-item {
    color: lightblue !important;
    background-color: #222 !important;
}

.dark a.list-group-item:hover, .dark a.list-group-item:focus, .dark nav a:hover, .dark nav a:focus, .dark nav .active {
    color: lightblue !important;
    background-color: darkslategray !important;
}

.dark .btn-default, .dark .input-group-addon {
    background: #222 !important;
    color: lightgray !important;
    text-shadow: none;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    overflow: auto; /* Enable scroll if needed */
    max-height: 85%;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 


/* Réduction de la taille des éléments en haut pour les petits écrans */
@media (max-width: 768px) {
    /* Pour réduire la taille du menu en haut */
    .navbar {
        min-height: 20px !important;
        margin-bottom: 1px !important;
    }
    /*.navbar-brand, .navbar-nav a { /* GK added navbar-nav a*/
    /*padding-top: 2px !important;
        padding-bottom: 1px !important;
        height: 25px !important;
    }*/

    .navbar-nav a {
        padding-bottom: 15px !important;
    }

    .navbar-toggle {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        margin-top: 2px !important;
        margin-bottom: 0px !important;
        background-color: lightgray !important;
    }
    /* Pour réduire la taille des éléments et boutons dans l'aréa de navégation - GK
    .navbar-nav, .navbar-nav > li {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        margin-top: 2px !important;
        margin-bottom: 0px !important;
    } */
    .navbar-nav {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

        .navbar-nav > li > a { /*Make sure these align correctly rather than stacking at full width - GK*/
            float: left !important;
            /*Added this to prevent the buttons becoming so small*/
            padding-top: 15px !important;
        }

    .col-md-offset-1 {
        padding-left: 5px !important;
    }

    /*[role=region] > header {
        margin-bottom: 10px !important;
    }*/
    /* Pour supprimer l'espace entre la zone de recherche et l'iframe 
    .list-group {
        margin-bottom: 0 !important;
    } */
    /* Pour réduire la taille du champ de recherche 
    .form-control {
        height: 28px !important;
        padding-bottom: 5px !important;
    } */

    .dropdown-menu {
        font-size: 20px !important;
    }

    .btn-xs {
        font-size: 10px !important;
    }

    /* Pour réduire la taille des boutons en haut de l'écran 
    .btn-xs, .btn-sm, .btn-default, .btn-group-xs > .btn, .btn-group-sm > .btn {
        font-size: 10px !important;
    }*/
    /* Pour réduire la taille des boutons en bas de l'écran 
    .btn-lg, .btn-group-lg > .btn {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
        font-size: 16px !important;
    }*/
}
