html, img, video {
    filter: invert(1) hue-rotate(180deg);
}

img.mwe-math-fallback-image-inline, img.mwe-math-fallback-image-display {
    filter: hue-rotate(180deg);
}

body {
    background: black !important;
}
