/*!
 * app.css : Main CSS of the application
 * 
 * Copyright 2013-2014 Mossroy and contributors
 * License GPL v3:
 * 
 * This file is part of Kiwix.
 * 
 * Kiwix is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Kiwix is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Kiwix (file LICENSE-GPLv3.txt).  If not, see <http://www.gnu.org/licenses/>
 */

[role=region] {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
}

[role=region] > header {
    margin-left: 1px;
    text-align: center;
}

[role=region] > header > h1 {
    margin: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

[role=region] > .view-content {
    margin: 0;
    position: relative; /*Fixes #250 Random button display bug in W10M */
}

[role=region] > footer {
    background: rgba(217,237,247,0.8);
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
}

[role=region] > footer > menu[role=toolbar] {
    margin: 0;
    padding: 0;
}

label {
    font-weight: normal !important;
    margin-left: 20px;
}

#navigationButtons .restrictedSize {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: whitesmoke !important;
}

.nopadding {
    padding-right: 1px !important;
    padding-left: 1px !important;
}

#searchingForArticles .floating {
    position: relative;
    z-index: 10;
    top: 20px;
    height: 0;
}

#btnHome {
    padding: 0px 1em !important;
}

.form-control:not([id^="findInArticle"]) {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    /*box-shadow: none !important;*/
}

.form-control:not([id^="archiveList"]) {
    height: 2.2em !important;
    padding: 5px 1em !important;
}

.navbar-inverse {
    background-color: #d9edf7 !important;
    border-color: #d9edf7 !important;
    margin-bottom: 0 !important;
}

.dark .form-control {
    color: lightgray;
    background: #222;
}

.articleIFrame {
    position: fixed;
    width: 100%;
    border: 0;
}

.category-padding {
    margin: 0 auto;
    max-width: 800px;
}

.apiAvailable {
    color: green;
}

.apiUnavailable {
    color: orange;
}

.settings {
    float: left;
    margin: 5px;
    padding: 10px;
    max-width: 500px;
    min-height: 150px;
    border: 1px solid black;
}

.navbar-header {
    float: none !important;
}

.navbar-fixed-bottom {
    background: inherit;
}

.navbar {
    min-height: 0px !important;
}

nav .btn-primary, .input-group-addon {
    background: #d9edf7 !important;
    border-color: #d9edf7 !important;
    margin-top: 3px;
    padding: 5px 1em !important;
}

.dark nav .btn-primary, .dark .navbar-inverse {
    background: #222 !important;
    border-color: #222 !important;
}

.glyphicon {
    color: darkblue;
}

.btn-sm, .btn-lg, .btn-default {
    background-color: rgba(217,237,247,0) !important;
    border: transparent !important;
    /*color: whitesmoke !important;*/
    color: darkblue !important;
    font-weight: bold !important;
}

.btn {
    z-index:initial !important;
}

.darkfooter {
    background: rgba(34,34,34,0.8) !important;
}

pre {
    font-weight: bold;
}

.dropdown-menu, .dropdown-menu a {
    background: rgba(255,255,255,0.7) !important;
}

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #337ab7 !important;
    }

.disclaimer {
    background-color: lightyellow;
    border-left: 6px solid gold;
    padding: 10px 5px 1px 10px;
}

.dark .disclaimer {
    background: #333300;
}

.update {
    background-color: lightcyan;
    border-left: 6px solid cyan;
    padding: 10px 5px 1px 10px;
}

.dark .update {
    background: #000033;
    border-left: 6px solid midnightblue;
}

.darkfooter .glyphicon, .dark .glyphicon {
    color: lightblue;
}

.dark {
    color: lightgray !important;
    background: black !important;
    border-color: darkgray;
}

.dark .panel {
    color: lightgray !important;
    background: #222 !important;
    border-color: darkgray;
}

.dark .panel-heading {
    color: lightgray !important;
    background: #12303b !important;
    border-color: darkgray;
}

    .dark .panel-warning .panel-heading {
        background: #333300 !important;
    }


    .dark .panel-danger .panel-heading {
        background: #330000 !important;
    }

.dropdown {
    width: 100%;
    max-width: 300px;
}

.dark .dropdown {
    color: #222 !important;
    background-color: lightblue !important;
    border-color: lightgray !important;
}

.dark .dropdown option:focus, .dark .dropdown option:hover {
    color: lightblue !important;
    background: darkslategray !important;
}

.darkfooter .dropdown-menu, .darkfooter .dropdown-menu a {
    color: lightblue !important;
    background: rgba(34,34,34,0.6) !important;
    border-color: darkgray;
}

.darkfooter .dropdown-menu a:focus, .darkfooter .dropdown-menu a:hover {
    color: lightblue !important;
    background: darkslategray !important;
}

.dark .list-group-item, .modal .dark .close {
    color: lightblue !important;
    background-color: #222 !important;
}

.dark a.list-group-item:hover, .dark a.list-group-item:focus, .dark nav a:hover, .dark nav a:focus, .dark nav .active {
    color: lightblue !important;
    background-color: darkslategray !important;
}

.dark .btn-default, .dark .input-group-addon, .dark pre {
    background: #222 !important;
    border-color: #222 !important;
    color: lightgray !important;
    text-shadow: none;
}

.dark a {
    color: lightblue !important;
}

.darkfooter .btn-default {
    background: rgba(34,34,34,0) !important;
    color: lightblue !important;
}

.modal-dialog {
    width: 94% !important;
    margin: 3% !important;
}

.modal-content, .modal-content .dark {
    background: #222 !important;
}


@media (max-width: 768px) {
    /*Increase touchability of bottom buttons*/
    footer .btn-default {
        font-size: 120% !important;
    }

    /* Pour réduire la taille du menu en haut */
    .navbar {
        min-height: 20px !important;
        margin-bottom: 1px !important;
    }
    /*.navbar-brand, .navbar-nav a { /* GK added navbar-nav a*/
    /*padding-top: 2px !important;
        padding-bottom: 1px !important;
        height: 25px !important;
    }

    .navbar-nav a {
        padding-bottom: 15px !important;
    }*/

    .navbar-toggle {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        margin-top: 2px !important;
        margin-bottom: 0px !important;
        background-color: lightgray !important;
    }
    /* Pour réduire la taille des éléments et boutons dans l'aréa de navégation - GK
    .navbar-nav, .navbar-nav > li {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        margin-top: 2px !important;
        margin-bottom: 0px !important;
    } */
    .navbar-nav {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
        /*Make sure these align correctly rather than stacking at full width - GK*/
        .navbar-nav > li > a {
            /*float: left !important;*/
            /*Added this to prevent the buttons becoming so small*/
            padding-top: 15px !important;
        }

    /*.col-md-offset-1 {
        padding-left: 5px !important;
    }

    [role=region] > header {
        margin-bottom: 10px !important;
    }*/
    /* Pour supprimer l'espace entre la zone de recherche et l'iframe 
    .list-group {
        margin-bottom: 0 !important;
    } */
    /* Pour réduire la taille du champ de recherche 
    .form-control {
        height: 28px !important;
        padding-bottom: 5px !important;
    } */

    /*.dropdown-menu {
        font-size: 20px !important;
    }

    .btn-xs {
        font-size: 10px !important;
    }

     Pour réduire la taille des boutons en haut de l'écran 
    .btn-xs, .btn-sm, .btn-default, .btn-group-xs > .btn, .btn-group-sm > .btn {
        font-size: 10px !important;
    }*/
    /* Pour réduire la taille des boutons en bas de l'écran 
    .btn-lg, .btn-group-lg > .btn {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
        font-size: 16px !important;
    }*/
}
@media (max-width: 440px) {
    /*.btn-primary {
        font-size: 12px !important;
    }
    .input-group-btn {
        display: inline !important;
    }
    #btnHome {
        float: left;
    }*/
}